<div class="flex m-10 border rounded-box">
    <ul class="menu menu-horizontal m-5">
        <li>
            <a class="text-lg" routerLink="/home">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>
        <li>
            <a class="text-lg" routerLink="/products">
                <i class="fas fa-server"></i>
                Products
            </a>
        </li>
        <li>
            <a class="text-lg" routerLink="/cart">
                <i class="fas fa-shopping-cart"></i>
                Card
            </a>
        </li>
    </ul>
</div>