@if (this.product) {
    <div class="card bg-base-100 w-96 border m-5 border-gray-600">

        <div class="card-body">
            <div class="card-title">
                {{product.productName}}
            </div>
            <p>
                {{product.description}}
            </p>
            <p>
                Price: {{product.price}} CHF
            </p>
            <p>
                Code: {{product.productCode}}
            </p>
            <p>
                In Stock: {{product.quantityInStock}}
            </p>
            <p>
                Reviews: {{product.reviews}}
            </p>
            <div class="card-actions justify-end mt-5">
                <label for="my-drawer" class="btn btn-primary drawer-button">
                    Cancel
                    <i class="fas fa-close"></i>
                </label>
                <button class="btn btn-primary">
                    To Cart
                    <i class="fas fa-shopping-cart"></i>
    
                </button>
    
            </div>
        </div>
    </div>
}
